*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#000;
    color:#fff;
    font-family:Helvetica, Arial, sans-serif;
}

.hero{
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.logo{
    width:120px;
    margin-bottom:35px;
}

h1{
    font-size:34px;
    font-weight:600;
    letter-spacing:6px;
    margin-bottom:10px;
}

.since{
    font-size:14px;
    color:#888;
    letter-spacing:4px;
    margin-bottom:55px;
}

.menu{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:18px;
}

.menu a{
    color:#888;
    text-decoration:none;
    font-size:18px;
    letter-spacing:2px;
    transition:0.3s;
}

.menu a:hover{
    color:#fff;
}
.archive{
    min-height:100vh;
    background:#000;
    color:#fff;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}


.archive h1{
    font-size:32px;
    letter-spacing:6px;
    margin-bottom:60px;
}


.years{
    display:flex;
    flex-direction:column;
    gap:20px;
    text-align:center;
}


.years a{
    color:#888;
    text-decoration:none;
    font-size:20px;
    letter-spacing:3px;
}


.years a:hover{
    color:#fff;
}
